@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1280px) {
  .graphiql-container .graphiql-session {
    flex-direction: column;
    gap: 10px;
  }
}

.graphiql-container {
  min-height: calc(100vh - 280px);
}

.graphiql-container .graphiql-main .graphiql-sessions {
  background-color: transparent;
}

.graphiql-container .graphiql-main .graphiql-editors {
  box-shadow: none;
  border-radius: 0;
  border-left: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
}
