@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1280px) {
  .graphiql-container .graphiql-session {
    flex-direction: column;
    gap: 10px;
  }
}

.graphiql-container {
  min-height: calc(100vh - 240px);
}
